<p>
  This text comes from the includes !!!!
  <br /><br />

  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur,
  commodi? Maxime nobis consequatur veniam repudiandae? Beatae, libero natus
  voluptates dicta reiciendis provident veritatis nemo facere ullam autem modi,
  architecto eius.
</p>
