<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/index.css" />
    <title>Document</title>
    <script src="scripts/index.js"></script>
  </head>
  <body>
    <h1>Hello World !</h1>
    <br />
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus
      harum quam ad modi tempore, maiores hic ducimus? Quia quisquam ratione,
      quidem, ducimus id delectus explicabo non, quam blanditiis quo totam.
    </p>
  </body>
</html>
